extends layout

block content
	h1 kickr
	p Kick high tech until it works. That's how we make web apps. 
	p The philosphy here is simple. 
	h3 High performance data in the browser is the only motivation. Kick it in. Kick it out. The kickr.io at the end of kickr means I/O, input/output. Launch it off without waiting around. Don't force the 3G Network to work harder than it already does. Think of all the text messages in transit at any given moment, let alone the conversations and file attachments.
	h4 Cloudkickr servers span the world, providing content and data to users at unmatched speed and performance, 24-7, 365 days a year. This is possible through multi-core processors sharing data and network resources linked by the unique and unparalleled Node.js software, non-blocking I/O elegantly powered by one of the Earth's most elite virtual machines, Google's V8 Engine. Try loading some of our pages in your browser if you don't believe that. 
	p Having built itself on free technology known only among the nerdiest circles, kickr.io is now the keeper of open source utility <a href='//3gSlickJS.kickr.io'>3G Slick JS</a>, the fabulous <a href='//blog.cloudkickr.com'>cloudkickr blog musings</a>, and of course a game changing app in the infancy of alpha development, the highly anticipated New England and East-Coast quick travel solution: <a href='//www.routekickr.com.s3-website-us-east-1.amazonaws.com/'>the one and only routekickr</a>.